 @import url(common.css);
  
.box{
  width:1304px;
  min-height:30px;
  margin:0 auto;
   background:url(images/vossenbg.jpg)no-repeat -180px 80px;
}
.nav1{
  width:100%;
  height:45px;

   background:url(images/nav1bg_02.png) ;
}
.nav1 img{
  float:left;
   margin-left:163px;
}
.nav1 ul{
    width:625px;
   height:45px;
    margin-left:163px;
	float:left;
}
.nav1 li{
  float:left;
  width:154px;
  height:45px;
  border-left:1px solid #a5a5a5;
  list-style-type:none;
 
}
.nav1 a{
  text-align:center;
  line-height:45px;
  display:block;
  font-size:14px;
  color:#fff;
  font-weight:bold;
}
 .nav2{
 width:100%;
  height:36px;
background:url("images/lixinav2_03.png");
}
.nav2-1 {
  float:left;
}
.nav2-1 img{
  margin-left: 120px;
    margin-top: 5px;;
}
.nav2-2 ul{
   width:477px;
   height:36px;
    
	  float:left;
}
.nav2-2 li{
  float:left;list-style-type:none;
  margin-left:48px;
  line-height:36px;
}
.nav2-2 a{
   font-size:14px;
  color:#fff;
  font-weight:bold;
}
.nav2-3 {
  float:left;
  width:178px;
 
   height:36px;
   margin-left:76px;
}
.nav2-3 img{
   float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.nav2-4 {
  float:left;
}
.nav2-4 input{
  border-radius:10px;
 height:25px;
  width:168px;
margin-top:5px;
border-color:#ccc;
}
.nav2-4 form {
   position:relative;
}
.nav2-4 img{
left: 150px;
    position: absolute;
    top: 10px;
}
.banner{
   width:100%;
  height:470px;
  
 
}
.content{
       width:1000px;
      height:900px;
  
	  margin:0 auto;
}
.content h3{
  color:#fff;
}
.content-left{
  width:650px;
      height:900px;
     background:#b2b2b2;
	  float:left;
}
.content-left-top{
     width:650px;
      height:370px;
	     
}
.content-left-top h3{
 margin-left:13px;
 margin-top:10px;
}
.content-left-top img{
 margin-left:30px;

}
.content-left-top ul{
   width:105px;
   height:20px;
   margin-left:233px;

   margin-top:10px;
}
.content-left-top li{
   list-style-type:none;
   float:left;
   width:11px;
   height:11px;
   background:black;
   margin-left:10px;
}
.content-left-middle{
     width:650px;
      height:234px;
	    padding-top:20px;
}
.content-left-middle h3{
   margin-left:13px;
   margin-bottom:20px;
}
.content-left-middle span{
   float:right;
  font-size:12px;
  margin-right:20px;
  margin-top:15px;
  color: #FFFFFF;
}
.middle-picture h4{
  color:#fff;
  text-align:center;
  line-height:22px;
background:url(images/button.png) repeat-x;
 width:146px;
 
}
.middle-picture1{
   float:left;
   margin-left:38px;
}
.middle-picture2{
   float:left;
   margin-left:56px;
}
.middle-picture3{
   float:left;
   margin-left:56px;
}
.content-left-xia{
      width:650px;
      height:264px;
	  
	   padding-top:10px;
	     
}
.content-left-xia span{
   float:right;
  font-size:12px;
  margin-right:20px;
  margin-top:15px;
  color: #FFFFFF;
}
.content-left-xia h3{
     margin-left: 13px;
	 margin-bottom:15px;
}
.content-left-xia img{
  float:left;
  
}
.xia{
  width:610px;
  height:191px;
  background:#ccc;
  margin-left:34px;
  padding-top:10px;
}
.x1{
  margin-left:15px;
}
.x{
   margin-left:27px;
}
.content-right{
  width:339px;
      height:890px;
    
	   float:right;
	    background:#b2b2b2;
	   
}
.content-right-top{
    width:319px;
	height:360px;
	
	padding-top:10px;
	padding-left:20px;
}
.content-right-top h3{
     margin-left: 13px;
	 margin-bottom:20px;
    
}
.content-right-top span{
  float:right;
  font-size:12px;
  margin-right:20px;
  margin-top:20px;
  color: #FFFFFF;
}
.pbg{
  width:280px;
  height:44px;
  padding-left:20px;
  padding-top:10px;
  background:#dcdddd;
}
.content-right-top p{
 
  font-size:12px;

  line-height:20px;

}
.content-right-bottom{
       padding-left: 20px;
    width: 319px;
	height:527px;
	
}
.icons{
  width:301px;
 height: 48px;
    padding-top: 25px;
 
}
.icons img{
  float:left;
 margin-left: 10px;
}
.content-right-bottom-x{
  width:300px;
  height:406px;
 
}
.bottom-x-top{
    width:300px;
	height:90px;
	background:#fff;
}
.bottom-x-top img{
  float:left;
  margin-left:18px;
  margin-top:30px;
}
.x-top-r{
    float:left;
	width:220px;
	height: 90%;
	 padding-left: 10px;
   
	
}
.x-top-r input{
   background:#fd4e59;
   margin-left: 25px;
   color:#fff;
   width:70px;
   height:25px;
   border-radius:7px;
   margin-top:10px;
}
.x-top-r span{
  color:blue;
  font-size:30px;
}
.bottom-x-bottom{
    width:300px;
	height:314px;
	
	  background:#ccc;
}
.footer{
     width:100%;
  height:87px;
  }
.xf{
   width:1000px;
   height:87px;
   border-top:1px solid #999999;
 margin:0 auto;
}
.xf img{
  float:left;
  margin-left:50px;
  margin-top:35px;
}
.xfy{
  float:left;
}
.xfy p{
  color:#89899b;
  font-size:12px;
  margin-left:60px;
  font-weight:bold;
}
.p1{
  margin-top:17px;
}
.p2{
  margin-top:12px;
}